h1,
h3 {
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 3rem;
    padding: 3%;
}

h3 {
    font-size: 1.8rem;
    padding-top: 3%;
}

h4 {
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 5%;
}

/* login page*/

.login-body {
    margin: 6% 35%;
    background-color: #0b2435;
    color: #eaf6f6;
}

.container {
    border: 3px solid #20614a;
    padding: 10%;
}

.form-heading {
    font-size: 3rem;
    color: #fff;
}

.form-control {
    width: 80%;
}

.login-input {
    margin: 0%;
    padding: 0%;
}

.radio-button {
    margin: 1%;
}

.errorMsg {
    color: red;
    font-size: 0.8rem;
    margin: 0%;
}

.gender-field-heading {
    margin: 0%;
}




/* Home */

#home {
    background-color: #0a3955;
    padding-bottom: 5%;
}

.navbar {
    padding: 0% 5%;
    background-color: #032943;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    font-size: 1.2rem;
}

/* header */

.header {
    margin: 2% 5% 0%;
}

hr {
    border: 1px solid #507a89;
    color: #031f28;
}

.header-left,
.header-right {
    padding: 2% 5%;
    margin: 2% 4%;
}

.header-p {
    color: #fff;
    margin: 0%;
}

.header-button {
    margin: 5% 0%;
}

.header-image {
    width: 100%;
}

/* Projects */

#projectModel {
    background-color: #063442;
    padding: 2% 5%;
}

.project-card {
    width: 100%;
    padding: 0% 5%;
}

.card {
    margin: 3% 0% 3% 7%;
    padding: 2%;
}

.project-image {
    height: 40%;
    width: 50%;
}

/* footer */

#footer {
    background-color: #0a3955;
    padding: 2% 5%;
}

.footer {
    text-align: center;
}

i {
    text-align: center;
    margin: 1% 3%;
    font-size: 1.5rem;
}

/* request page*/
#request {
    background-color: #063442;
    padding: 2% 10%;
    color: #fff;
}

.request-button {
    text-align: center;
    margin-top: 2%;
    width: 12%;
}

/* project requests */
#projects {
    padding: 3% 5%;
    background-color: #104a5c;
    color: #c1dede;
}

.projects-h1 {
    text-align: center;
    padding: 2% 5%;
}

.innerDiv {
    margin: auto;
    padding: 2% 5%;
    background-color: #134656;
}

.innerDiv-h5 {
    color: #64c0c0;
    font-weight: bold;
    text-decoration: underline;
}

#delete {
    margin: 0%;
}

@media(max-width:1028px) {
    .login-body {
        margin: 10% 22%;
    }

    .navbar-brand {
        font-size: 1.5rem;
    }

    .header-left,
    .header-right {
        padding: 3%;
        margin: auto;
    }

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .request-button {
        width: 18%;
        margin-top: 3%;
    }

}

@media(max-width:720px) {
    .navbar-brand {
        font-size: 1.2rem;
    }

    .nav-item {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    .request-button {
        width: 25%;
    }

}

@media(max-width:520px) {
    .login-body {
        margin: 15% 20%
    }

    .navbar-brand {
        font-size: 1.3rem;
    }

    .nav-item {
        font-size: 0.8rem;
    }

    .header-button {
        padding: 2%;
        width: 35%;
    }

    .card {
        margin: 3% auto;
    }

    .project-image {
        height: 100%;
    }

    h1 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    h5 {
        font-size: 1rem;
    }

    .header-p,
    p {
        font-size: 0.8rem;
    }

    .request-button {
        margin-top: 4%;
        width: 30%;
    }

    label {
        font-size: 0.8rem;
    }

    input {
        height: "40";
    }

    i {
        font-size: 1rem;
    }
}
